html[data-theme='light'] {
  --bg-header: #fcfcfc;
  --color-scroll-tracker-g: #ffffff;
  --color-scroll-g: #e8e8e8;
  --color-scroll-tracker-v: #e8e8e8;
  --color-scroll-v: rgba(22, 22, 22, 0.1);
  --color-font: #161616;
  --bg-color-body: #f6f6f7;
  --bg-color: #ffffff;
  --bg-theme: #fcfcfc;
  --color-theme: #161616;
  --color-theme-active: #bedbb0;
  --color-theme-shadow: #bedbb0;
  --active: #bedbb0;
  --color: #161616;
  --color-shadow: rgba(22, 22, 22, 0.8);
  --color-hr: rgba(22, 22, 22, 0.1);
  --color-radioDescr: rgba(22, 22, 22, 0.5);
  --color-board: rgba(22, 22, 22, 0.7);
  --color-icon-grey: rgba(255, 255, 255, 0.5);

  /* Scroll SideBar */
  --scroll-track: rgba(236, 237, 253, 0.8);
  --scroll-thumb: rgba(22, 22, 22, 0.5);

  /* SideBar */
  --bg-button-plus: #b8bcfd;
  --bg-sidebar: #fff;
  --sb-icon-stroke: #121212;
  --bg-help: rgba(236, 237, 253, 0.4);
  --bg-image-logo: url(assets/img/logo/logo-light.png);
  --color-border: rgba(22, 22, 22, 0.1);
  --color-fonts: #161616;
  --color-link: #bedbb0;
  --logout-icon: #bedbb0;
  --color-item: rgba(22, 22, 22, 0.5);
  --modal-border: #fcfcfc;
  --bg-card: #f6f6f7;
  --border-cart: #bedbb0;

  /* Pop up */
  --bg-color: #fcfcfc;
  --color: #161616;
  --color-placeholder: rgba(22, 22, 22, 0.5);
  --bg-input: rgba(22, 22, 22, 0.8);
  --bg-button: #bedbb0;
  --bg-button-active: #9dc888;
  --button-color-square: #161616;
  --bg-button-plus: #bedbb0;
  --button-plus: #fff;
  --button-color: #161616;

  /* Icon Avatar Default */

  --background-image: url(assets/img/userAvatar/user-light.png);

  /* Calendar */
  --calendar-background-color: #fff;
  --calendar-text-color: #161616;
  --calendar-input: #bedbb0;
  --calendar-month: rgba(22, 22, 22, 0.5);
  --calendar-day: rgba(255, 255, 255, 0.5);
  --calendar-navigation: #bedbb0;
  --calendar-day: #161616;
  --calendar-day-hover: #bedbb0;
  --calendar-active-day: #161616;
  --calendar-day-selected: #161616;
  --calendar-day-selected-background: #bedbb0;

  /*RadioButtons Filter*/
  --datepicker-grey: rgba(22, 22, 22, 0.5);
  --datepicker-grey-lable: rgba(22, 22, 22, 0.3);
  --datepicker-checked: #ffffff;
  --datepicker-focused: #161616;

  /*BTN AnotherColumn*/
  --bg-another-column: #fcfcfc;
  --btn-color-anothet-column: #161616;
  --btn-icon-bg-anothet-column: #161616;
  --btn-icon-another-column: #fcfcfc;
  --hover-another-column: #9dc888;
  --hover-title-another-column: #161616;

  --btn-add: #bedbb0;
  --back-another-column: #fff;

  --color-border-card: rgba(22, 22, 22, 0.1);
  --icon-stroke-card: #161616;
  --colol-span: #bedbb0;
  --color-span-hover: #ffffff;
  --color-btn-plus: #ffffff;
  --color-bg-btn: #161616;
}
